/* line 25, ../../compass/sass/styles.scss */
body {
  background-image: url("../../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* line 42, ../../compass/sass/styles.scss */
.ng-enter {
  animation: slideInRight 1s both ease-in;
  z-index: 8888;
}

/* line 47, ../../compass/sass/styles.scss */
.ng-leave {
  animation: slideOutLeft 1s both ease-in;
  z-index: 9999;
}

/* line 52, ../../compass/sass/styles.scss */
.menu {
  width: 200px;
  margin-top: 30px;
}

/* line 58, ../../compass/sass/styles.scss */
.main-wrapper {
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}
/* line 67, ../../compass/sass/styles.scss */
.main-wrapper .logo-wrapper {
  background-color: #f5f8fa;
}
/* line 70, ../../compass/sass/styles.scss */
.main-wrapper .logo-wrapper .logo {
  max-width: 100%;
}
/* line 75, ../../compass/sass/styles.scss */
.main-wrapper .logo-wrapper-hillary {
  background-color: #00a9e0;
  border: 0;
}
/* line 79, ../../compass/sass/styles.scss */
.main-wrapper .logo-wrapper-hillary .logo {
  max-width: 100%;
}
/* line 85, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 89, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .profile-img {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}
/* line 95, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .fullname {
  color: #292f33;
  font-weight: bold;
  font-size: 14px;
}
/* line 101, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .user-details {
  color: #8899a6;
  font-size: 13px;
}
/* line 106, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .tweet-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
}
/* line 113, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .icon-row {
  color: #aab8c2;
  font-size: 12px;
  font-weight: bold;
  margin-top: 7px;
}
/* line 119, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .icon-row .icon-group {
  margin-right: 20px;
}
/* line 122, ../../compass/sass/styles.scss */
.main-wrapper .tweet-wrapper .icon-row .icon-group .icon-count {
  margin-left: 5px;
}

/* line 137, ../../compass/sass/styles.scss */
.tweet-wrapper:hover {
  background-color: #f5f8fa;
}
